<h1>Admininstation</h1>

<ul className="adminUsers">
  <% @users.each do |user| %>
  <li>
    <%= user.user_name %>:
    <%= link_to "delete", @user, method: :destroy, data:{confirm: "You sure?"} %>
  </li>
  <% end %>
</ul>
<ul className="adminWizards">
  <% @wizards.each do |wizard| %>
  <li>
    <%= wizard.name %>:
    <%= link_to "delete", @wizard, method: :destroy, data:{confirm: "You sure?"} %>
  </li>
  <% end %>
</ul>
<ul className="adminReviews">
  <% @reviews.each do |review| %>
  <li>
    <%= review.wizard.name %>:
    <%= review.body %>
    <%= link_to "delete", @review, method: :destroy, data:{confirm: "You sure?"} %>
  </li>
  <% end %>
</ul>
