<div id="superUser">
<h1>Admininstation</h1>

<ul className="adminUsers">
  <% @users.each do |user| %>
  <li className="listUser">
    <%= user.user_name %>:
    <%= link_to "Delete #{user.user_name}", user, method: :delete, data:{confirm: "You sure?"} %>
  </li>
  <% end %>
</ul>
<ul className="adminWizards">
  <% @wizards.each do |wizard| %>
  <li className="listWizard">
    <%= wizard.name %>:
    <%= link_to "Delete #{wizard.name}", wizard, method: :delete, data:{confirm: "You sure?"} %>
  </li>
  <% end %>
</ul>
<ul className="adminReviews ">
  <% @reviews.each do |review| %>
  <li className="listReview">
    <%= review.wizard.name %>:
    <%= review.body %>
    <%= link_to "Delete Review #{review.id}", review, method: :delete, data:{confirm: "You sure?"} %>
  </li>
  <% end %>
</ul>
</div>
