
<%= form_for(@wizard) do |f| %>
 <% if @wizard.errors.any? %>
 <div id="error_explanation">
   <h2><%= pluralize(@wizard.errors.count, "error") %> prohibited this Wizard from being saved:</h2>
   <ul>
     <% @wizard.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
     <% end %>
   </ul>
 </div>
 <% end %>

 <p>
   <%= f.label :name %>
   <%= f.text_area :name %>
 </p>
 <p>
   <%= f.label :description %>
   <%= f.text_area :description %>
 </p>
 <p>
    <%= f.label :magic_school_id, "School of Magic" %>
    <%= f.collection_select :magic_school_id, MagicSchool.all, :id, :name  %>
  </div>
 </p>

 <%= f.hidden_field :id %>
 <!-- <%= f.hidden_field :creator_id %> -->


 <!-- <p class="field">
    <%= f.label :img_url, "Upload wizard photo" %><br />
    <%= f.file_field :img_url %>
  </p> -->
  <%= f.submit "Submit" %>
 <% end %>
