
<%= form_for(@wizard) do |f| %>
  <% if @wizard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wizard.errors.count, "error") %> prohibited this Wizard from being saved:</h2>
      <ul>
        <% @wizard.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="newWizard">
    <p>
      <%= f.label :name, "Name:" %>
      <%= f.text_area :name %>
    </p>
    <p>
      <%= f.label :description, "Description:" %>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.label :magic_school_id, "School of Magic:" %>
      <%= f.collection_select :magic_school_id, MagicSchool.all, :id, :name  %>
    </p>
    <p>
      <%= f.label :origin, "Author/series of origin:" %>
      <%= f.text_area :origin %>
    </p>

    <%= f.hidden_field :id %>

    <p class="field">
      <%= f.label :img_url, "Upload wizard photo:" %>
      <%= f.file_field :img_url %>
    </p>
    <button id="submitWizard"<%= f.submit "Submit" %>Add New Wizard</button>

  </div>
 <% end %>
